@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display'),
    local('SFProDisplay-Regular'),
    url($fonts + 'SF Pro Display/Regular/SFProDisplay-Regular.woff2') format('woff2'),
    url($fonts + 'SF Pro Display/Regular/SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display'),
    local('SFProDisplay-Bold'),
    url($fonts + 'SF Pro Display/Bold/SFProDisplay-Bold.woff2') format('woff2'),
    url($fonts + 'SF Pro Display/Bold/SFProDisplay-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    local('SF Pro Display'),
    local('SFProDisplay-Medium'),
    url($fonts + 'SF Pro Display/Medium/SFProDisplay-Medium.woff2') format('woff2'),
    url($fonts + 'SF Pro Display/Medium/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.nanni {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  width: 250px;
  height: 55px;
  font-family: "SF Pro Display", "sans-serif";
  transition: height 0.3s ease-out, width 0.3s ease-out;

  .margin-unset {
    margin-bottom: 0!important;
  }

  p {
    margin-bottom: 0;
  }
  &.active {
    width: 30em;
    max-height: 45em;
    height: 75%;
    .nanni-btn {
      display: none;
    }
    .nanni-chat {
      display: flex;
    }
  }
  .nanni-btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 55px;
    border: 1px solid lightgray;
    background-color: #fafbff;
    color: #2b303c;
    font-size:  19px;
    font-weight: 600;
  }

  .nanni-btn:hover,
  .nanni-btn:focus {
    background-color: #fafbff;
    color: #2b303c;
    border-color: lightgray;
  }
  .nanni-btn span {
    margin-left: 10px;
  }
  .nanni-btn img {
    width: 50px;
  }
  .nanni-chat {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid lightgray;
    overflow: hidden;
  }
  .chat-header {
    height: 90px;
    background-color: #fafbff;
    display: flex;
    align-items: center;
    padding: 0 0.75em;
    border-bottom: 2px solid rgba(112, 124, 151, 0.1);
    user-select: none;
  }
  .chat-header .info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
  .chat-header .name {
    color: #2b303c;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1;
  }
  .chat-header .status {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    color: #2a8bf2;
    line-height: 1.25;
  }
  .chat-header .close-chat {
    background: transparent;
    border: none;
    color: #999999;
    box-shadow: none;
    margin-left: 0.5em;
  }
  .chat-header .ant-btn:hover {
    color: #2b303c;
  }
  .chat-header .close-session {
    font-size: 0.85em;
    border:      none;
    box-shadow:  none;
    line-height: 1.25;
  }
  .chat-header .botTyping {
    display: flex;
    height: 20px;
  }
  .chat-header .dot {
    animation: shimmy 0.75s infinite;
    transform: translateZ(0);
    will-change: transform;
  }
  .chat-header .dot1 {
    margin-left: 2px;
    animation-delay: 0.25s;
  }
  .chat-header .dot2 {
    animation-delay: 0.5s;
  }
  @keyframes shimmy {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, -2px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .new-messages {
    position: relative;
    margin-right: 1em;
    pointer-events: none;
  }
  .new-messages.unread:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #ff3366;
    border: 1.5px solid #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  .chat-body {
    padding: 0.75em;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  .question {
    padding: 0.25em 0;
    display: flex;
    margin-bottom: 1.25em;
    visibility: hidden;
    @keyframes fadeInLeft {
      from {
        opacity: 0;
        transform: translateX(-100%);
      }
      to {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
  .fade-in-left {
    animation: fadeInLeft .6s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    transform: translateZ(0);
    will-change: transform, opacity;
  }
  .question .content {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90.54deg, #fbfbfb 0%, #ffffff 100%);
    border: 1px solid #e5e5e5;
    box-shadow: 5px 5px 30px rgba(42, 139, 242, 0.1),
      5px 5px 15px rgba(42, 139, 242, 0.05);
    border-radius: 0px 10px 10px 10px;
    padding: 7px 10px;
    margin-left: 20px;
  }
  .icon {
    width: 40px;
    height: 40px;
    filter: drop-shadow(4px 4px 15px rgba(154, 81, 48, 0.05))
      drop-shadow(2px 2px 10px rgba(154, 81, 48, 0.1))
      drop-shadow(1px 1px 50px rgba(154, 81, 48, 0.15));
    display: flex;
    margin-top: 3px;
    flex: 0 0 auto;
  }
  .icon img {
    user-select: none;
    pointer-events: none;
  }
  .question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .question .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
    margin-right: 0.5em;
  }
  .question .time {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
  }
  .question-body {
    margin-top: 3px;
    color: #2b303c;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .choices {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
  }
  .fade-in-right {
    animation: fadeInRight 0.5s 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
    visibility: hidden;
    transform: translateZ(0);
    will-change: transform, opacity;
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
  .choice {
    justify-content: center;

    margin-bottom: 0.6em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .choice.hidden {
    opacity: 0;
    margin-bottom: 0;
  }
  .hidden.printed {
    height: 0;
  }
  .choice button {
    background: linear-gradient(90.54deg, #fbfbfb 0%, #ffffff 100%);
    border: 1px solid #2a8bf2;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(42, 139, 242, 0.1),
      5px 5px 15px rgba(42, 139, 242, 0.05);
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2b303c;
    cursor: pointer;
    transition: 0.5s;
  }
  .choice:last-child {
    margin-bottom: 0;
  }
  .chosen button {
    background: linear-gradient(90.54deg, #eaeaea 0%, #ffffff 100%);
    border: 1px solid #e5e5e5;
    box-shadow: 5px 5px 15px rgba(42, 139, 242, 0.1),
      5px 5px 15px rgba(42, 139, 242, 0.05);
  }
  .chosen.first {
    margin: 0;
  }
  .fade-out-right {
    animation: fadeOutRight 0.5s, removeHeight 0.3s;
    animation-fill-mode: forwards;
    visibility: visible;
  }
  @keyframes fadeOutRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  .chosen {
    animation-name: none;
    visibility: visible;
  }
  .chosen.nth {
    animation: moveTop 0.6s;
    animation-fill-mode: normal;
  }
  @keyframes moveTop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .fade-to-top {
    animation: fadeTop 0.3s, removeHeight 0.3s;
    animation-fill-mode: forwards;
    visibility: visible;
  }
  @keyframes fadeTop {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  @keyframes removeHeight {
    100% {
      height: 0;
    }

  }
  .printed {
    animation-name: none;
    visibility: visible;
    position: relative;
  }
}

.bot-icon {
  max-height: 2.9em;
}

@media (max-width: 767px) {
  .nanni {
    width: 20em;
    height: 4em;

    &.active {
      max-width: initial;
      max-height: initial;
      width: 95%;
      height: 98%;
      top: 50%;
      left: 50%;
      transition: transform 0.3s ease-out;
      transform: translate3d(-50%, -50%, 0);
      will-change: transform;
    }
    .nanni-btn {
      font-size: 20px;
    }
    .chat-header .name {
      font-size: 1.4em;
    }
  }
}
