@import "../../sass/mixins";

.dashboard-key {
  text-align: center;

  box-sizing: content-box;
  padding: .5rem .5rem;
  padding-right: 0.8rem;
  width: 100%;
  display: none;
  margin-bottom: .5em;

  font-weight: bold;

  &-inner {
    position: relative;
  }

  &.scroll {
    z-index:  5;
    position: fixed;
    top: 0.1rem;
    margin-top: -.1rem;
    padding-left:  0;
    padding-right: 0;

    width: 5.2em;
  }

  @include xs {
    width: initial;
    display: block;
    margin-bottom: 0;
    padding: 0 .35em;
    color: #777;
  }

  &__sort-toggle {
    z-index: 4;
    position: absolute;
    top:     50%;
    right:  -1.1em;
    transform: translateY(-25%) rotate(90deg);
    transform-origin: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 0;

    border:      .5em solid transparent;
    border-left: .5em solid currentColor;

    font-size: .85em;

    cursor: pointer;

    @include xs() {
      right: -1.3em;
    }

    &.active {
      color: var(--contrast-color);
    }
    
    &.reversed {
      transform: translateY(-75%) rotate(270deg);
    }
  }
}