.slider-block {
  padding: 1.5em 0;
  text-align: center;

  user-select: none;

  &__label {
    @include font("Roboto");
    font-size: 1.6em;

    display: flex;
    justify-content: center;
    align-items: center;

    @include xs() {
      padding-left: 1.1em;
      justify-content: flex-start;

      font-size: 2.2em;
      text-align: left;
    }
  }

  &__info {
    margin-top: -0.5em;
    margin-left: 0.3em;

    color: #d1d1d1;

    @include xs() {
      margin-top: -2.9em
    }
  }
}