.iterations {
  position: relative;
  width:  100%;
  min-height: 14em;
  max-height: 20.5em;
  height: 100%;
  display: flex;
  flex-direction: column;

  
  &-list {
    --space: .8em;

    flex-grow: 1;
    overflow-y: scroll;
    padding: .75em 1em;
    margin: 0;

    @include sm() {
      padding: .75em 1em;
    }
    
    @include xs() {
      padding: .75em 1em;
      font-size: 1.25em;
    }

    &-item {
      position: relative;
      
      padding-right: 2em;
      margin-bottom: var(--space);
      display: flex;
      align-items: baseline;

      --fz: 1.8em;
      font-size: .9em;

      @include xs() {
        --fz: 2em;
        font-size: .9em;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &__number {
        display: inline-block;
        margin-right: .5em;

        font-size: var(--fz);
      }
      
      &__separator {
        display: inline-block;
        margin: 0 .8em;

        font-size: var(--fz);
      }

      &__clock {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        width: 6em;

        text-align: center;

        cursor: not-allowed;

        [role="img"] {
          flex-shrink: 0;

          font-size: 1.2em;
          color: #777;
        }

      }

      &__delete {
        position: absolute;
        top:     50%;
        right:  -0.125em;
        transform: translateY(-50%);

        flex-shrink: 0;

        font-size: 2.5em;
        color: #777 !important;

        &:hover,
        &:focus {
          transform: translateY(-50%) scale(1.2);
        }
      }
      
      &__input {
        $input-width: 6em;

        width: $input-width;
        font-size: var(--fz);
        text-align: center;

        &--unstyled {
          width: 8em;
          
          font-size: var(--fz);
          text-align: center;

          white-space: pre;
          text-overflow: ellipsis;
          overflow: hidden;
        }

      }

    }
  }

  &-button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    padding: .5em 2em;

    color: #fff;
    font-family: "Roboto";
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;

    cursor: pointer;

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    @include xs() {
      font-size: 1.4em;
    }
  }
}