.iterations {
  position: relative;
  width:  100%;
  min-height: 20em;
  max-height: 20em;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  @include xs {
    min-height: 21em;
    max-height: 21em;
  }
  
  &-list {
    --space: .9em;

    flex-grow: 1;
    overflow-y: scroll;
    padding: .1em 1em;
    margin: 1em 0;

    &-item {
      position: relative;
      
      padding-right: 2em;
      margin-bottom: var(--space);
      min-height: 3.8em;
      display: flex;
      align-items: baseline;

      --fz: 1.885em;

      font-size: .85em;

      &:last-child {
        margin-bottom: 0;
      }

      &__number {
        display: inline-block;
        min-width: 1.3em;
        margin-right: .5em;

        font-size: var(--fz);
        text-align: right;
      }
      
      &__separator {
        display: inline-block;
        margin: 0 .55em;

        font-size: var(--fz);
      }

      &__clock {
        align-self: center;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        min-width:  6em;
        min-height: 1em;

        text-align: center;

        cursor: pointer;

        &-time {
          display: inline-block;

          font-size: 1.6em;
          line-height: 1;
        }

        [role="img"] {
          position: absolute;
          left: 50%;
          top:  50%;
          transform: translate(-50%, -50%);

          flex-shrink: 0;

          font-size: 1.2em;
          color: #777;
        }

      }

      &__delete {
        position: absolute !important;
        top:     50% !important;
        right:  -0.125em;
        transform: translateY(-50%) !important;

        flex-shrink: 0;
        width:  .85em;
        height: .85em;

        font-size: 2.5em;
        color: #777 !important;

        &:hover,
        &:focus {
          transform: translateY(-50%) scale(1.2);
        }
      }
      
      &__input {
        $input-width: 8.5em;

        width: 6.5em;
        font-size: var(--fz);
        text-align: center;

        @include sm {
          width: 5.5em;
        }
        
        @include xs {
          width: $input-width;
        }

        [class^=ant] {
          font-size: 1em !important;
        }

        &--unstyled {
          // width: $input-width;
          
          // font-size: var(--fz);
          // text-align: center;

          white-space: pre;
          text-overflow: ellipsis;
          overflow: hidden;
        }

      }

    }
  }

  &-button {
    flex-shrink: 0;

    width: 100%;
    border: none;
    background: var(--primary-color);
    padding: .5em 2em;

    color: #fff;
    font-family: "Roboto";
    font-size: 1em;
    line-height: 1.6;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;

    cursor: pointer;

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    @include xs() {
      font-size: 1.4em;
    }
  }
}