.labeled-select {
  @include xs() {
    font-size: 1.25em;
  }
  
  &__label {
    display: block;
    margin-bottom: 0.75em;
  
    color: rgba(white, .8);
    font-size: .95em;
    letter-spacing: .08em;
    text-transform: uppercase;
  
    &--hidden {
      display: none;
    }
  }
  
  .ant-select {
    width: 100%;
  
    color: white !important;
    font-size: 1.6em;
  
    &-selection {
      background: rgba(white, .4) !important;

      &:hover {
        border-color: white !important;
      }
      
      &:focus {
        border-color: white !important;
        box-shadow: 
          0
          0
          0
          var(--focus-outline-width)
          rgba(white, 0.8);
      }
    }
  
    &-arrow {
      color: inherit !important
    }
  }

}
