@import "../../../../sass/mixins";

.control-panel {

  &-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include sm {
      flex-direction: column;

      > * + * {
        margin-top: 2.25em;
      }
    }
  }

  &__lock {
    width: 17em;

    .ant-select-selection--single {
      height: 1.8em;
    }

    .ant-select-selection-selected-value {
      line-height: 1.7em;
    }
  }

  .stack {
    @include sm {
      width: 100%;
    }

    .input-wrapper {
      width: 100%;

      &__label {
        @include sm {
          margin-right: auto;
        }
      }
    }
  }

  .label-with-fixed-width {
    min-width: 40ch;

    @include sm {
      min-width: unset;
    }
  }

  .switch {
    font-size: 1.6em;
  }
}