@import "~antd/dist/antd.css";

@font-face {
  font-family: "Circe";
  src: url("fonts/Circe-Light.woff");
  font-weight: 300;
}
@font-face {
  font-family: "Circe";
  src: url("fonts/Circe-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Circe";
  src: url("fonts/Circe-Bold.ttf");
  font-weight: bold;
}

$violet: #4859b4;

body {
  font-family: "Circe", sans-serif;
  font-weight: 400;
}
#root {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
#root .container {
  width: 100%;
  max-width: 80rem;
  padding: 0 15px;
  margin: 0 auto;
}
.abs-btn {
  position: absolute;
}
.ant-input-number,
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px;
}
.ant-input-number:hover {
  border-color: $violet;
}
.ant-input-number-focused {
  border-color: $violet;
  box-shadow: 0 0 0 1px #7d8acb;
}
.footer__links a {
  color: inherit;
  white-space: nowrap !important;
  text-decoration: none;
}
.footer__disclaimer a {
  color: inherit;
}
.header-mobile__profile a {
  color: inherit;
}
.custom-btn {
  background: 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  min-width: 14.5em;
  padding: 0.9em 2.5em 0.7em;
  border-radius: 2em;
  border: 1px solid $violet;
  font-family: inherit;
  color: #4859b4;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.custom-btn--filled,
.custom-btn:hover {
  border: 1px solid $violet;
  background: $violet;
  color: #fff;
}
.stack {
  --space: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.config {
  width: 75em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 20em;
}
.input-group--fluid {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: fit-content;
}
.input-group__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
}
.input-group--fluid .input-group__label {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 0;
  margin-right: 0.5em;
  line-height: 1em;
}
.ksd-config__depo .ant-input {
  font-size: 1em !important;
}
.dialog .ant-input {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2em;
  padding: 0.3em 0.6em 0.2em;
  color: rgba(0, 0, 0, 0.65);
  font-size: 2em;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.config__search {
  width: 15em !important;
  font-size: 1.2em !important;
}
.dialog .ant-input:hover {
  border-color: #4859b4;
}
.config.stack {
  --space: 1.25rem;
}
.stack > * + * {
  margin-top: var(--space);
}
.dialog .table {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  font-size: 1.6em;
}
.table-th {
  min-width: 5em;
  height: 3em;
  border-bottom: 0.2em solid #eee;
}
.table-td,
.table-th {
  padding: 0.2em;
  text-align: center;
}
.config-th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 99999;
  top: 0;
  background: #fff;
  -webkit-box-shadow: inset 0 -0.2em #eee;
  box-shadow: inset 0 -0.2em #eee;
  border-bottom: none !important;
}
.table-td {
  height: 4em;
  word-break: break-word;
}
.config-table-wrap {
  max-width: 100%;
  -ms-flex-preferred-size: 32em;
  flex-basis: 32em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: auto;
  font-size: 0.75em;
}
.input-group--fluid .input-group__input {
  width: 10em;
}
.input-group__input {
  text-align: center;
}
.numeric-input-wrap {
  position: relative;
}
.ksd-config__depo .ant-input {
  font-size: 1em !important;
}
.ant-input:focus {
  border-color: #4859b4;
  outline: 0;
  -webkit-box-shadow: 0 0 0 calc(1px * 1) #7d8acb;
  box-shadow: 0 0 0 calc(1px * 1) #7d8acb;
}
.cross-button [role="img"] {
  font-size: 0.75em;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dialog-footer {
  display: none;
}

/*======================SECTION .donut======================*/
.donut .container {
  display: flex;
  justify-content: center;
}
.donut .apexcharts-series path[selected="true"] {
  pointer-events: none;
}
