@import "../../../../../../common/sass/mixins";

.expense-table {
  margin-top: 2em;
  
  &-wrapper {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin-bottom: 3em;
    box-shadow: 0 3px 5px rgba(0,0,0,.03),0 0 8px rgba(12,12,12,.06);

    @include sm {
      font-size: 1em;
      box-shadow: none;
    }


    .ant-calendar-picker {
      font-size: .5em;
    }

    .ant-select {
      width: 60%;
      height: 80%;
    }

  }
  
  &-row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    border-bottom: 0.03em solid #cacaca;

    &:last-of-type {
      border-bottom: none;
    }
    
    &:first-of-type{
      .expense-table-col {
        .expense-table-key {
          display: block;
        }
      }
    }

    @include sm {
      flex-direction: column;
      margin-bottom: 3em;

      border: none;
      box-shadow: 0 3px 5px rgba(0,0,0,.03),0 0 8px rgba(12,12,12,.06);
    }
  }
  
  &-col {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    
    &:nth-child(2) {
      border-right: 0.03em solid #cacaca;
      border-left: 0.03em solid #cacaca;

      @include sm {
        border: none;
      }
    }

    @include sm {
      width: 100%;
      border: none;
    }
  }
  
  &-key {
    display: none;
    width: 100%;
    font-size: 2em;
    
    padding: 0.5em;
    font-weight: 800;
    text-align: center;
    border-bottom: 0.03em solid #cacaca;
    
    &:last-of-type {
      border-right: none;
    }

    @include sm {
      display: block;
      padding: 0;

      border: none;
      font-weight: normal;
      background-color: #efeeee;
    }
  }

  &-value {
    width: 100%;
    text-align: center;
    padding: 0.7em;

    @include sm {
      border: none;
      background-color:#efeeee;
      padding: 0;

      .ant-select {
        text-align: center;
      }
    }
  }

  &--payments-title {
    .stats-panel-title {
      background-color: #fdd1d1!important;
    }
  }

  &__add-button {
    margin-top: 1.5em;

    font-size: 1.2em;
  }
  
  .custom-btn--edit {
    min-width: 12em;
    padding: .9em 1.5em .7em;
  }
}