.hide-sm {
  @include sm {
    display: none;
  }
}

.sm-only {
  display: none;

  @include sm {
    display: block;
  }
}

.ant {
  &-input,
  &-select {
    &-affix-wrapper.error .ant-input,
    &.error .ant-select-selection,
    &.error {
      border-color: var(--danger-color) !important;

      &:focus {
        box-shadow: 0 0 0 var(--focus-outline-width) var(--danger-color-transparent);
      }

      &:hover {
        border-color: var(--danger-color);
      }
    }
  }

  &-tooltip-inner {
    text-align: center;
  }
  
  &-select-search__field {
    box-shadow: none !important;
  }
}