.trade-log {

  .tool-select {
    padding-top: 1em;
  }

  .time-picker-container {
    height: 1.6em;
  }
  
  .ant {
    &-time {
      &-picker {
        width:  100%;
        height: 100%;
        
        &-input {
          font-size:     1.1em;
          padding-right: 1.3em;

          width:  100%;
          height: 100%;
        }
    
        &-clear {
          font-size: 1em;
          right: 8px!important;
        }
      
        &-icon {
          font-size: 1em;
          right: 8px!important;
        }
      }
    }
    
    &-input {
      font-size: 1em!important;
      padding-top: .2em;
      padding-right: 1.1em!important;
      width: 4.8em!important;
    
      &-suffix {
        font-size: 1em!important;
        right: .2em!important;
      }
    }
    
    &-select {
      font-size: 0.8em!important;
      font-weight: 500;
    }
  }
}

.trade-log {
  font-size: 1.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .check-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: .3em;
    padding-left:  .3em;
    border-right: 0.03em solid #cacaca;
    
    &--second {
      align-items: flex-start;
      padding-right: .3em;
      padding-left:  .3em;
      padding-bottom: 0;
    }
  }

  &-table {
    font-size: 1em;
    display: flex;

    width: 100%;
    border-top: 0.03em solid #cacaca;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03), 0px 0px 8px rgba(12, 12, 12, 0.06);

    &-col {
      min-width: 16.66%;
      display: inline-flex;
      flex-direction: column;

      text-align: center;
      min-width: calc(100 / 6);
    }

    &-key {
      font-size: 0.8em;
      padding: .5em 3.1em;
      white-space: nowrap;
      
      font-weight: bold;
      border-bottom: 0.03em solid #cacaca;
      border-right: 0.03em solid #cacaca;

      &--final {
        border-right: none;
      }
    }

    &-val {

      &--base {
        font-weight: 700;
        padding-bottom: 0;
        min-height: 5.2em;
        border-right: .03em solid #cacaca;
      }

      &-tool {
        height: 100%;
        padding-top:   .9em!important;
        padding-right: .6em;
        padding-left:  .6em;
      }

      &-time {
        height: 100%;
        padding: 0.98em 1.7em 2.69em;
        padding-bottom: 0;
      }

      &--long {
        font-size: .8em!important;
        text-transform: uppercase;
        color: green;
        font-weight: 900;
      }

      &--short {
        font-size: .8em!important;
        text-transform: uppercase;
        color: red;
        font-weight: 900;
      }


      &--first {
        font-size: .8em;
        padding: 0em 1em 0 2.1em;

        text-align: left;
        font-weight: 500;
        

        &.check-box-container {
          padding: 1em 0.5em 1em 0.4em;
          border-left: .03em solid #cacaca;
        }
      }

      &--second {
        font-size: .8em;
        padding: 0 1em 0 2.1em;

        text-align: left;
        font-weight: 500;
      }

      &--final {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        // ~~
        input {
          text-align: left!important;
          border: initial;
          background-color: inherit;
        }
        
        .ant-input-suffix {
          right: .2em!important;
        }
      }
    }

    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 3.6em;
      
      &:last-of-type {
        align-items: flex-start;
        height: 2em;
      }

      .check-box-container {
        border-left: .03em solid #cacaca;
      }
    }
  }
}