.custom-slider {
  $root: &;

  position: relative;
  
  user-select: none;
  
  &__value {
    position: absolute;
    right:   0.4em;
    bottom: -0.4em;
    width: 2.5em;

    font-family: "Roboto", sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }

  .ant-slider-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width:  1em;
    height: 100%;

    .ant-slider {
      &-handle {
        margin: 0;
      }
    }
  }

  .ant-slider:not(.ant-slider-vertical) {

    height: 1em;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &-rail,
    &-step,
    &-track {
      height: .2rem
    }

    .ant-slider {
      &-handle {
        margin-top:   0;
        margin-left:  0;
      }
    }

    &#{$root}__input {
      width: 100%;
      // height: 1em;
    }
    
  }

  // reset defaults
  .ant-slider {
    
    &-rail {
      background-color: #ccc
    }

    &-track {
      background-color: var( --primary-color-lighter );
    }
    
    &-handle {
      --size: 1.4em;
      width:  var(--size);
      height: var(--size);

      border-color: white;
      background:   var( --primary-color );

      &:hover,
      &:focus {
        background:   white !important;
        border-color: var( --primary-color ) !important;
      }
    }

    &:focus,
    &:hover {

      .ant-slider {
        &-handle {
          background:   white !important;
          border-color: var( --primary-color ) !important;
        }
  
        &-track {
          background: var( --primary-color ) !important;
        }
      }

    }
  }

}