.hdOptimize {
  @include xlg {
    font-size: 0.94em;
  }
}
.dashboard {
  font-size: .9em;
  $root: &;

  margin-top: 3em;

  .ant-select {
    font-size: 1em;
    
    &-selection {
      &--single {
        font-size: 1em;

        // фиксирование размера селекта инструмента
        @include sm {
          min-width: 8em;
        }
      }
    }
  }
  
  .ant-input {
    text-align: start!important;
    font-size: 1em;
    padding-top: .2em;
    padding-right: 0.4em!important;

    &-suffix {
      user-select: none;
      // top: 51.5%;
      right: 0.6em;
      font-size: 1em;
    }
  }

  &__loading {
    font-size: 2em;

    &-icon {
      margin-right: 1em;
    }
  }

  &-row {
    position: relative;

    margin-bottom: 1.5em;
    padding-right: 1.5em;
    display: flex;
    // align-items: center;
    align-items: stretch;
    
    @include sm {
      padding-right: 0;
      flex-wrap: wrap;
      margin-bottom: 3em;
      box-shadow: 0 0 1.75em rgba(0, 0, 0 , 0.1)
    }

    @include xs {
      padding-right: 0;
      background-color: #f4f7fb;
      padding: 1.25em 0;
    }

    &:first-child {

      #{$root}-key {
        display: block;
      }
      
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__delete {
      position: absolute;
      right:      -2.5em;
      top:         0.3em;

      font-size: 3em;
      color: black !important;

      transition: all .3s ease;

      &.invisible {
        visibility: hidden;
        pointer-events: none;
      }

      
      
      @include xlg {
        right: -0.5em;
      }
      
      @include sm() {
        right: -1.1em;
      }

      @include xs() {
        background-color: var(--danger-color-transparent) !important;

        left: initial;
        right: -.5em;
        top: -.5em;
      }
    }
  }

  &-col {
    flex-grow: 1;
    // flex-basis: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.6em;
    line-height: 1.2;

    &--narrow {
      @include sm {
        margin: auto;
        margin-top: -1em;
        padding: .35em 0 0 0;

        .dashboard-key {
          height: 1em;
        }

      }

      @include xs {
        align-items: center!important;
        justify-content: center!important;
      }

      @include xlg {
        width: 6em;
      }
    }

    &--main {
      width: 8.5em;
      
      @include sm {
        align-items: center;
        width: 100%;
      }
    }

    &--splitted {
      width: 20em;
         
      @include sm {
        width: 8.6em;
        align-items: center;
      }
    }

    &--wide {
      width: 11.5em;
      flex-shrink: 0;
         
      @include sm {
        align-items: center;
        width: 100%;
      }

      @include xlg {
        width: 100%;
      }
    }

    &--config {
      position: relative;
      width: 6.1em!important;
      flex-shrink: 0;

      @include sm {
        width: initial;
      }

      @include xs {
        justify-content: center!important;
        width: initial;
      }
    }

    &--percent {
      width: 6.5em;
    }

    &--month-pay {
      width: 8em;
    }

    // config
    &--dialog {
      &-depo {
        width: 9.5em;
      }
      &-period {
        width: 20.5em;
      }
      &--rate {
        width: 9.5em;
      }
    }

    &__config {

      .settings-button__icon {
        font-size: 1.7em!important;
        color: #4859b4!important;
      }
    }
    
    &:first-of-type {
      .dashboard-key.scroll::after {
        z-index: -1;
        position: absolute;
        left: -4.85rem;
        top:  0;
        
        content: "";
        background-color: #fff;
        width:  79.1rem;
        height: 2.5rem;
        box-shadow: 0 0 1.75em rgba(0, 0, 0 , 0.1);

        @include sm {
          height: 1.7rem;
        }

        @include lg {
          left: -4.9rem;
        }
      }
    }

    @include sm {
      flex-basis: (100% / 4);
      flex-shrink: 0;
      width: (100% / 4);

      &:nth-child(4) ~ div {
        background-color: #f7fbff;
        padding: .35em 0;

        #{$root}-key {
          color: #777;
          padding-bottom: 0;
        }
        
        #{$root}-val {
          background-color: inherit;
          min-height: .5em;
        }

        @include xs {
          background-color: initial;
        }
      }
    }

    @include xs {
      flex-basis: (100% / 2);
      align-items: flex-start;
      
      font-size: 1.85em;

      &:nth-child(5) ~ div {
        background-color: inherit !important;
        padding: 0;
        
        #{$root}-key {
          color: #777;
        }
        
        #{$root}-val {
          background-color: inherit;
          min-height: 4em
        }
        
      }

      &:nth-child(2n) {
        align-items: flex-end;

        #{$root}-key {
          position: relative;
          top: 0;
        }
        
        #{$root}-val {
          justify-content: flex-end;
          padding-right: .3em !important;
        }

        @include xs {
          align-items: flex-end!important;
        }
      }
    }
  }

  &-key {
    text-align: center;
    height: 2.4rem;

    box-sizing: content-box;
    padding: .5rem .5rem;
    padding-right: 0.8rem;
    width: 100%;

    display: none;

    font-weight: bold;

    // тут я устал
    &--month {
      text-align: center;

      @include xs {
        text-align: start!important;
      }
    }

    &--passive {
      @include sm {
        width: 8em;
      }
    }

    &-inner {
      position: relative;
    }

    &.scroll {
      z-index:  5;
      position: fixed;
      top: 0.1rem;
      margin-top: -.1rem;
      padding-left:  0;
      padding-right: 0;

      width: 5.2em;
    }

    @include xs {
      display: block;
      height: 2.1rem;
      width: initial;

      margin-bottom: 0;
      padding: 0 .35em;
      color: #777;
      text-align: end;

      &:nth-child(2n) {
        text-align: end;
      }
    }

    @include sm {
      display: block;
    }

    &__sort-toggle {
      z-index: 4;
      position: absolute;
      top:      .5em;
      right:  -1.2em;
      transform: rotate(90deg);
      transform-origin: center;
      width:  2rem;
      height: 2rem;
      
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      padding: 0;
      width:  1em;
      height: 1em;

      border:      .5em solid transparent;
      border-left: .5em solid currentColor;

      font-size: .8em;

      cursor: pointer;

      @include xs() {
        right: -1.3em;
      }

      &.active {
        color: var(--contrast-color);
      }
      
      &.reversed {
        transform: rotate(270deg);
        top: -.1em;
      }
    }
  }

  &-val {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3em;
    padding: 0.35em .5em;
    margin: auto;
    background-color: #f4f7fb;


    text-align: center;
    white-space: nowrap;

    &--profit-percent {
      input {
        padding-right: 1.55em;
      }

      .ant-input-suffix {
        right: .5em!important;
        top: 53%;
      }
    }
    

    &--invest-percent {
      input {
        padding-right: 1.15em;
        width: 4.3em;
      }

      .ant-input-suffix {
        right: -0.6em!important;
        top: 53%;
      }
    }

    &--ofz {
       input {
        width: 4.5em;
        padding-right: 1.38em;
      }

      .ant-input-suffix {
        right: .3em!important;
        top: 53%;
      }
    }

    &--active-invest {
       input {
        width: 4.5em;
        padding-right: 1.38em;
      }

      .ant-input-suffix {
        right: .3em!important;
        top: 53%;
      }
    }
    
    @include sm {
      padding: 0.75em .35em;
      min-height: 4em;
    }
    
    @include xs {
      padding: 0.35em .35em;
      justify-content: end;
    }

    &--wrap {
      display: flex;
      flex-wrap: wrap;
    }
    
    &--tool {
      width: 10.9em;

      @include sm {
        width: 100%;
      }
    }

    &--period {
      @include xlg {
        width: 13.3em;
      }

      @include sm {
        width: 11.6em;
      }
    }
    
    &--first-pay {
      width: 100%
    }
  }

  &__input {
    align-items: start;

    &--custom {
      width: 50%;
    }
    
    &--contribution {
      width: 5rem;
    }
  }

  &__select {
    width: 100%;
    &--custom {
      width: 50%;
      // width: 4em!important;
    }
  }
  
  &__input {
    text-align: center;
  }
  
  &--config {
    background-color: none;
  }

}