.dialog {
  font-size: 0.6em;
  
  &__title {
    font-size: 1.8em;
    margin-bottom: -0.25em;
  }

  .card {
    padding-right: 2em;
    padding-left:  2em;
  }

  .ant-input {
    padding-left: 0.4em!important;
    font-size: 1.3em;

    &-suffix {
      font-size: 1.3em;
    }
  }

  .dashboard-key {
    height: 2.2rem;
    
    &--contribution-rate {
      height: 1.2rem;
    }
  }
}
.ant-input {
  text-align: start!important;
  &-suffix {
    top: 51.5%;
    right: 0.6em;
  }
}


// скрыл визуал от сейва
.page__title {
  display: none;

  &-icon-wrap {
    display: none;
  }
}

.main-top__select {
  display: none;
}