.settings-button {
  width:  3.25em;
  height: 2.25em;
  background: none;
  padding: 0;
  border: none;

  transition:  transform .2s ease;
  will-change: transform;

  cursor: pointer;

  &:focus,
  &:hover {
    transform: rotate(-45deg) scale(1.3);

    outline: none;
    box-shadow: none;
  }

  &__icon {
    font-size: 2.2em;
    color: var( --bg-color );
  }
}