@import "../../../../../common/sass/mixins";

.chart {
  height: 58em;

  &-wrapper {
    display: flex;
    flex-direction: column;

    padding-bottom: 1.5em;
    width: 102em;
    @include sm() {
      width: 64em;
    }
    @include xs() {
      width: 40em;
      margin-left: -3.5em;
    }
  }

  &-mode {
    margin: 0 auto;

    label {
      height: initial;
      padding: .3em .5em;

      font-size: 1.6em;
      line-height: 1.5;
    }
  }
}

.anychart {
  &-credits {
    display: none;
  }
  
  &-tooltip {
    min-width: 20rem;
  }
}

