.stack {
  $root: &;

  --space: 2.5rem;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > * + * {
    margin-top: var(--space);
  }

  .stack-exception,
  .stack-exception + * {
    --space: 3rem;
  }
}