.table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;

  font-size: 1.6em;

  &-title {
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
  }
  
  &-th,
  &-td {
    padding: 0.2em;
    text-align: center;
  }

  &-th {
    // width:  1%;
    height: 3.5em;
    border-bottom: .2em solid #eee;

    &--small {
      font-size: .8em
    }
  }

  &-td {
    height: 4em;

    &-parent { 
      position: relative
    } 
  }
  
  .ant-input {
    // width:  4.1em;
    width: 100%;
    height: auto;
    padding: .1em;

    font-size: 1em;
    line-height: 1;
    text-align: center;

    @include sm() {
      width: 100%
    }
  }
}