@import "../../sass/_mixins.scss";

input.iPhone {
  // padding-right: 1.4em !important;
}

.ant-input-affix-wrapper input {
  // padding-right: 3.2em !important;
}

.numeric-input {
  $root: &;

  width: 100%;
  font-size: 1em;

  &-wrap {
    position: relative;

    .ant-input-affix-wrapper,
    .ant-input {
      text-align: inherit;
    }

    button {
      position: absolute;

      margin:  0;
      padding: 0;

      border: none;
      border-radius:  50%;
      background-color: rgba(0, 0, 0, 0.15);
      height:  1em;
      width:   1em;

      right: 0.3rem;
      top: 50%;
      transform:translateY(-50%);

      font-size: 1.4em;
    
      svg {
        position: absolute;
        left: 50%;
        top:  50%;
        transform: translate(-50%, -50%) rotate(90deg);
        // margin-top: .05em;

        // Дебильный костыль, чтобы иконка встала по центру
        margin-left: 0.01em;

        height: .35em;
        width:  .35em;

        fill: green;

        &.negative {
          transform: translate(-50%, -50%) rotate(-90deg);

          fill: red;
        }
      }
    }
  }
}