@import "../../sass/_mixins.scss";

input.ios {
  padding-right: 1.4em!important;
}

.ant-input-affix-wrapper input {
  padding-right: 3.2em !important;
}

.numeric-input {
  &-wrap {
    position: relative;
  
    button {
      position: absolute;
      margin:  0;
      padding: 0;
      
      background-color: transparent;
      border: transparent;

      right: 0.2rem;
      top: 60%;
      transform:translateY(-50%);
    
      svg {
        height: 1.7rem;
        width:  1.2rem;

        transform: rotate(-90deg);

        fill: green;

        &.red {
          transform: rotate(90deg);

          fill: red;
        }
      }
    }
  }
}

