.fourth-step {
  font-size: 1.8em;
  overflow: hidden;
  width: 100%;

  &-table {
    width: 100%;

    .table {
      &-row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &:last-of-type {
          .table-extra-column {
            min-height: 7em;
          }
        }

        &:nth-child(2n+1) {
          .table-base-column,
          .table-extra-column {
            background-color: #f4f7fb;
          }
        }

        

        &:last-of-type {
          .table-base-column,
          .table-extra-column {
            background-color: #fff;
          }
        }

        .table-extra-column:last-of-type {
          .table-extra-column-value--result {
            .circle {
              &:after {
                display: none;
              }
            }
          }
        }

        .scroll-hide {
          scrollbar-width: none;  

          &::-webkit-scrollbar {
            display: none;
          }
        }     
      }
      &-base-column {
        min-width: 35%;
        display: inline-flex;
        flex-direction: column;
        border-left: .03em solid #cacaca;

        
        &--result {
          width: 35%;
          display: flex;
          justify-content: center;
          align-items:     center;
          border: none;
          height: 7em;

          p {
            position: relative;
            margin: 0;
            padding: 0.4em 1.9em;
            border: .03em solid #cacaca;
            border-radius: 1.4em;
            font-size: 0.9em;

            &::before {
              top: -2.8em;
              content: "";
              position: absolute;
              width: 0.06em;
              height: 2.8em;
              right: 50%;
              transform: translate(-50%);
              background-color: #cacaca;
            }

            &::after {
              position: absolute;
              content: "";
              top: 50%;
              right: -76.3%;
              width: 6em;
              height: .06em;
              transform: translateY(-50%) translateX(-50%);
              background-color: #cacaca;
            }
          }
        }

        &-key {
          font-size:   .8em;  
          padding: .3em 1em;
          text-align: center;

          font-weight: bold;
          white-space: nowrap;

          background-color: #fff;
          border-top:     .03em solid #cacaca;
          border-bottom:  .03em solid #cacaca;
          border-right:   .03em solid #cacaca;
        }
        &-value {
          font-size: 0.9em;
          display: flex;
          height: 100%;
          text-align: start;
          align-items: center;
          padding: .3em 1em;
          white-space: nowrap;

          border-bottom:  .03em solid #cacaca;
          border-right:   .03em solid #cacaca;
        }
      }
      &-extra {
        &-column-container {
          position: relative;
          width: 65%;
          display: inline-flex;
          justify-content: start;
          overflow: auto;
        }

        &-column {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          text-align:  center;
          min-width: 20%;

          &-key {
            font-size: .8em;
            width: 100%;
            padding: .3em 1em;
            background-color: #fff!important;
            font-weight: bold;
            white-space: nowrap;
            text-align: center;
            border-top:     .03em solid #cacaca;
            border-bottom:  .03em solid #cacaca;
            border-right:   .03em solid #cacaca;
          }
          &-value {
            display: flex;
            flex-direction: column;
            height: 100%;
            width:  100%;
            white-space: nowrap;
            gap: .2em;

            border-bottom:  .03em solid #cacaca;
            border-right:   .03em solid #cacaca;
            // ~~
            &--result {
              height: 100%;
              width: 20%;
              display:    inline-flex;
              justify-content: center;
              align-items:     center;
              border: none;
            }
            
            .circle {
              z-index: 1;
              position: relative;
              height: 2.7em;
              width:  2.7em;
              border-radius: 50%;

              &::before {
                z-index: -1;
                position: absolute;
                content: "";
                height: .06em;
                width: 2.75em;
                left: -50%;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
                background-color: #cacaca;
              }
              &::after {
                z-index: -1;
                position: absolute;
                content: "";
                height: .06em;
                width: 2.7em;
                right: -150%;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
                background-color: #cacaca;
              }
            }


            .positive {
              background-color: #54b854;
            }

            .negative {
              background-color: #e77a79;
            }

            &-row {
              display: flex;
              justify-content: space-between;
              align-items: center;

              &:first-of-type {
                &:first-child {
                  color: #54b854;
                }
              }
              &:last-of-type {
                &:last-child {
                  color: #ea4646;
                }
              }

              p {
                font-size: 0.8em;
                margin:  0;
                padding: 0;
                padding-left: 1em;
                text-transform: uppercase;

                :first-child {
                  color: greenyellow;
                }
              }

              .ant-checkbox-wrapper {
                margin: .5em;
                margin-right: 0.8em;
              }
            }
          }
        }
      }
    }
  }
}