@import "../../../../../../common/sass/mixins";

.code-panel {
  font-size: .8em;

  --space: 0.5em;

  &-group {
    width: 100%;
    
    &-header {
      margin-bottom: .6em;

      display: inline-flex;
      align-items: baseline;

      @include xs {
        flex-direction: column;
        align-items: flex-start;
      }

      h3 {
        margin: 0;
      }

      > * {
        margin-left: 1em;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &-content {
      pre {
        width: 100%;
        white-space: pre-wrap;
      }
    }

    &__copy-btn {
      background: none;
      border: none;
      padding: 0;

      text-decoration: underline;

      cursor: pointer;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }

  }
}