.tabs
  position: relative
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center

  &__centerline,
  &::before,
  &::after
    content: ''
    display: block
    width:    5em
    height: .05em
    background: rgba(white, .1)
    position: absolute
    top: 50%
    margin-top: .75em
    transform: translateY(-50%)

  &__centerline
    left: 50%
    transform: translate(-50%, -50%)

  &::before
    right: 100%

  &::after
    left: 100%

  &__label
    min-width: 13em
    margin: 0

    color: rgba(white, .4)
    font-size: 1.85em
    letter-spacing: .03em

    transition: color .2s ease

    &:hover,
    &:focus
      color: rgba(white, .8)

    span.ant-radio+*
      padding: 0

    &.ant-radio-wrapper-checked
      color: #dcae1d

    .prefix
      display: block
      margin-bottom: .1em

      color: rgba(white, .8)
      font-size: 0.34em
      text-transform: uppercase

    // Hide input
    .ant-radio
      +visually-hidden