.chart-wrap {
  height: 45em;
  display: flex;
  align-items: center;
  justify-content: center;

  .anticon-loading {
    font-size: 3em;
  }

  .disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    
    p {
      margin-top: 1em !important;

      font-size: 1.5em;
      text-align: center;
    }
  }
}

#chart {
  width:  100%;
  height: 100%;
}
