@import "../../../sass/vars";

.custom-slider {
  // background: $accentColor;
  position: relative;
  padding-right: 10em + 2em;
  padding-left:  0    + 2em;

  user-select: none;
  
  &__value {
    position: absolute;
    right:   0.4em;
    bottom: -0.4em;
    width: 2.5em;

    font-family: "Roboto", sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }

  // reset defaults
  .ant-slider {
    
    &-rail {
      background-color: #ccc
    }

    &-rail,
    &-step,
    &-track {
      height: .2rem
    }
    
    &-handle {
      margin-top:  -0.55em;
      margin-left:  0;
      width:  1.35em;
      height: 1.35em;

      border-color: white;
      background:   #91d5ff;

      &:focus,
      &:hover {
        background:   white !important;
        border-color: #69c0ff;
      }
    }
  }
  
  &__input {
    width: 100%;
  }
}