


.title--green {
  font-size: inherit!important;
  padding: 0;
  margin:  0!important;
  padding: 0!important;
  min-height: 2.2em;
  
  color: white;
  background-color: #afc5a4;
  opacity: .9;
  box-shadow: none;
  border-top:    0.03em solid #cacaca;
  border-bottom: 0.03em solid #cacaca;
}

.title--red {
  font-size: inherit!important;
  padding: 0;
  margin:  0!important;
  padding: 0!important;
  min-height: 2.2em;
  
  color: white;
  background-color: red;
  opacity: .2;
  box-shadow: none;
}

.second-step {
  .state-registry {
    width: 100%;
  }

  p {
    font-size: 0.8em;
  }

  &-table {
    display: flex;
    width: 100%;
    margin-top: 1.5em;


    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03), 0px 0px 8px rgba(12, 12, 12, 0.06);

    &-first-column {
      min-width: 35%;
      height: 100%;

      &-title {
        font-size: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        min-height: 2.7em;
        font-weight: bold;
      }

      &-row {
        padding: .5em;
        height: 2.2em!important;

        font-weight: bold;
        background-color: #e7f0f9;

        &:nth-child(2n) {
          background-color: #fff;
        }

        p {
          margin: 0;
          font-weight: 500;
        }
      }
    }

    &-second-column {
      min-width: 30%;
      border-left:  0.03em solid #cacaca;
      border-right: 0.03em solid #cacaca;
    }

    .second-column {

      &-title-row {
        font-size: inherit;
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 2.7em;
      }
      
      &-title-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
        width: 33.33%;
        min-height: 2.7em;
        
        &:nth-child(2n) {
          border-left:  0.03em solid #cacaca;
          border-right: 0.03em solid #cacaca;
        }

        p {
          text-align: center;
          line-height: 1.1em;
          font-weight: 500;
          height: 100%;
          margin:  0;
          padding: 0;
        }
      }

      &-empty-row {
        min-height: 2.2em;
        border-top:  0.03em solid #cacaca;
        border-bottom:  0.03em solid #cacaca;

        &--second {
          min-height: 2.2em;
          border-top:  none;
          background-color: #e7f0f9;
          border-bottom: none;
          border-top:    0.03em solid #cacaca;
        }
      }

      &-row-container {
        display: flex;
        min-height: 2.2em;

        &:nth-child(2n-1) {
          background-color: #e7f0f9;
        }
      }

      &-row-check-box {
        height: 2.2em!important;
        width: 33.33%;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:nth-child(2n) {
          border-left:   0.03em solid #cacaca;
          border-right:  0.03em solid #cacaca;
        }

      }
    }

    &-third-column {
      min-width: 35%;
    }

    .table-third-column {
      &-title {
        font-size: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 2.7em;

        width: 100%;
        font-weight: bold;
      }

      &-row-container {
        display: flex;
        flex-direction: column;

        &-row {
          display: flex;
          justify-content: space-between;
          min-height: 2.2em;

          font-weight: 700;

          &:nth-child(2n-1) {
            background-color: #e7f0f9;
          }

           p {
            margin: 0;
            font-weight: 500;

            padding-left: 1em;
            padding-top: 0.6em;
          }

          .third-column-row-check-box {
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 0.03em solid #cacaca;
            height: 2.2em;

            width: 20%;
          }
        }
      }
      
    }
  }

}