.custom-slider {
  $root: &;

  position: relative;
  padding-right: 10em + 2.5em;
  padding-left:  0    + 1.5em;

  user-select: none;
  
  &__value {
    position: absolute;
    right:     0em;
    bottom: -0.5em;
    width:   3.5em;

    font-family: "Roboto", sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }

  // reset defaults
  .ant-slider {
    
    &-rail {
      background-color: #ccc
    }

    &-rail,
    &-step,
    &-track {
      height: .2rem
    }
    
    &-track {
      background-color: var( --primary-color-lighter );
    }
    
    &-handle {
      margin-top:  -0.55em;
      margin-left:  0;
      width:  1.35em;
      height: 1.35em;

      border-color: white;
      background:   var( --primary-color );

      &:hover,
      &:focus {
        background:   white !important;
        border-color: var( --primary-color ) !important;
      }
    }

    &:focus,
    &:hover {

      .ant-slider {
        &-handle {
          background:   white !important;
          border-color: var( --primary-color ) !important;
        }
  
        &-track {
          background: var( --primary-color ) !important;
        }
      }

    }
  }
  
  &__input {
    width: 100%;
  }
}