.switch {
  cursor: pointer;
  
  &__input {
    margin-top: -0.5em;

    &:focus {
      box-shadow: 0 0 0 .7em rgba(24, 144, 255, 0.2)
    }
  }

  &__label {
    margin-left: .75em;
    font-size:   1.6em;
    line-height: 1em;
  }
}