.page-header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.1em;
  background-color: #4859b4;

  h2 {
    font-family: "Circe",sans-serif;
    color: #fff;
    font-size: 4em;
    margin: 0;
  }
}