.trade-slider {
  margin-top: 1.75em;
  
  position: absolute;
  width: 100%;
  
  right:  0;
  top:    0;
  transform: translateX(150%);
  transition: transform .3s ease-out;
  
  &-active {
    margin-top: 1.75em;

    transform: translateX(0);
  }

  .day-button {
    background-color: inherit;
  }

  &-day-container {
    position: relative;
  }

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    font-size: 3em;
    
    @include sm {
      justify-content: space-between;
      gap: .5em;

      font-size: 2.6em;
    }

    p {
      margin:  0;
      padding: 0;
      user-select: none;
    }

    .cross-button {
      font-size: 1em!important;
      display: flex!important;
      position: absolute;
      left: 100%;
      top: 0.225em;

      color: red;
      opacity: .6;

      &:hover {
        color: red!important;
        opacity: 1;
      }

      button {
        font-size: 0.9em!important;

        span {
          display: flex;
          align-items: center;
        }
      }
    }

    .day-button {
      font-size: 0.4em;
      display: flex;
      align-items: center;
      border: none;
      text-transform: uppercase;
      font-weight: bold;  
      line-height: 3.75; 

      &:hover,
      &:focus {
        color: var(--primary-color);
      }
    }
  }

  &-middle {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;

    font-size: 1.3em;

    @include sm {
      gap: 6em;
    }

    @include sm {
      flex-direction: column;
      align-items: center;
    }

    &-step {
      position: relative;

      display: flex;
      gap: .3em;

      .step-logo {
        font-size: 1.3em;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 4em;
        width:  4em;
        
        white-space: nowrap;    
        text-transform: uppercase;
        border-radius: 50%;
        
        font-weight: 800;
        border: 0.3em solid #cacaca;
        color: #cacaca;

        &--active {
          border: 0.3em solid var(--primary-color);
          color: var(--primary-color);
        }
      }

      .step-name {
        font-size: 1.1em;
        color: #cacaca;

        &--active {
          color: var(--primary-color);
        }
      }

      // TODO: rename to "selected" or smth
      &.blue-after-element {
        &::after {
          background-color: #4859b4;
        }
      }

      &::after {
        content: "";

        position: absolute;
        top:      50%;
        right: -6.3em;

        width:    5em;
        height: .01em;

        background-color: #cacaca;

        @include sm {
          right: initial;
          left:   50%;
          top:   100%;
          transform: translateX(-50%);

          margin-top: .5em;
          // margin-left: -1em;
          width:  .01em;
          height:   5em;
        }
      }

      &:last-child::after {
        display: none;
      }

      span {
        display: flex;
        align-items: center;
        line-height: 1.1em;
        user-select: none;
      }

      svg {
        margin-right: 1em;
        height: 3em;
        width:  3em;
      }
    }
  }

  &--main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5em 0 0.5em;

    .main-button {
      font-size: 1.8em;
      display: flex;
      justify-content: center;
      
      align-items: center;
      white-space: nowrap;
      transition: all 0.3s ;

      padding: 0.9em 3em;
      height: 2em;
      border-radius: 1.1em;
      border: 0.2em solid #cacaca;

      font-weight: 600;
      color: #cacaca;
      text-transform: uppercase;

      &:hover {
        color: #fff;
        border: 0.2em solid var(--primary-color);
        background: var(--primary-color);
      }
    }
  }

  &-bottom {
    font-style: .5em;
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    font-size: 1.4em;

    gap: 1em;

    @include sm {
      justify-content: center;
    }

    .trade-log-button--slider {
      border-radius: 17px;
      min-width:    8.1em;
    }
  }
}

.main {
  position: relative;
  // overflow-x: none!important;
}