.cross-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  
  width:  1em;
  height: 1em;

  color: white;
  line-height: 1;
  
  cursor: pointer;
  
  transition: transform .15s ease-in-out;
  will-change: transform;

  &:hover,
  &:focus {
    background-color: rgba(black, .05);
  }

  button:disabled {
    background: none;
    border: none;
    padding: 0;
  }

  [role="img"] {
    font-size: .625em;

    transform: rotate(45deg);

    user-select: none;
    pointer-events: none;
  }
}
