@import "../../../sass/mixins";

.stats-panel {
  &-title {
    margin: 0;

    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5em 3em;

    font-size: 1em;

    @include sm {
      padding: 1em 0;
    }
  }
}