.dashboard {
  $root: &;

  margin-top: 3em;

  .ant-select {
    font-size: 1em;

    &-selection {
      &--single {
        // height: 1.945em;
        font-size: 1em;
        // height: 2.2em;
      }

      &__rendered {
        // line-height: 1.945em;
        // padding-top: 0em;
      }
    }
  }

  .ant-input {
    font-size: 1em;
    // height: 1.945em;
    padding-top: .2em;
  }

  &__loading {
    font-size: 2em;

    &-icon {
      margin-right: 1em;
    }
  }

  &-row {
    position: relative;

    margin-bottom: 1.5em;
    padding-right: 1.5em;
    display: flex;
    align-items: center;
    
    @include sm {
      flex-wrap: wrap;
      margin-bottom: 2em;
    }

    @include xs {
      background-color: #f4f7fb;
      padding: 1.25em 0;
    }

    &:first-child {

      #{$root}-key {
        display: block;
      }
      
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__delete {
      position: absolute;
      right:  -0.6em;
      top:     0.3em;

      font-size: 3em;
      color: black !important;

      transition: all .3s ease;

      &.invisible {
        visibility: hidden;
        pointer-events: none;
      }

      @include sm() {
        top: .52em;
      }

      @include xs() {
        background-color: var(--danger-color-transparent) !important;
        right: -0.5em;
        top:   -0.5em;
      }
    }
  }

  &-col {
    flex-grow: 1;
    width: 5em;
    // flex-basis: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.6em;
    line-height: 1.2;

    &--narrow {
      width: 6em;
      flex-shrink: 0;
    }

    &--wide {
      width: 13em;
      flex-shrink: 0;
    }
    
    &--semiwide {
      width: 8em;
      flex-shrink: 0;
    }

    &:first-of-type {
      .dashboard-key.scroll::after {
        z-index: -1;
        position: absolute;
        left: 0;
        top:  0;
        
        content: "";
        background-color: #fff;
        width:  79.1rem;
        height: 2.5rem;
        box-shadow: 0 0 1.75em rgba(0, 0, 0 , 0.1);

        @include sm {
          height: 1.7rem;
        }
        
        @include lg {
          left: -2rem;
        }
      }
    }

    @include sm {
      flex-basis: (100% / 5);
      flex-shrink: 0;
      width: (100% / 5);

      &:nth-child(5) ~ div {
        background-color: #f7fbff !important;
        padding: .35em 0;
        
        #{$root}-key {
          color: #777;
        }
        
        #{$root}-val {
          background-color: inherit;
          min-height: .5em;
        }
      }
    }

    @include xs {
      flex-basis: (100% / 2);
      align-items: flex-start;

      font-size: 1.85em;

      &:nth-child(5) ~ div {
        background-color: inherit !important;
        padding: 0;
        
        #{$root}-key {
          color: #777;
        }
        
        #{$root}-val {
          background-color: inherit;
          min-height: 4em
        }
      }

      &:nth-child(2n) {
        align-items: flex-end;
        padding-right: 1em !important;

        #{$root}-key {
          position: relative;
          top: 0;
        }
        
        #{$root}-val {
          justify-content: flex-end;
          padding-right: .3em !important;
        }
      }
    }
  }

  &-key {
    text-align: center;

    box-sizing: content-box;
    padding: .5rem .5rem;
    padding-right: 0.8rem;
    width: 100%;
    display: none;
    margin-bottom: .5em;

    font-weight: bold;

    &:first-child {
      padding-left:  .2rem;
    }

    &:last-child {
      padding-right: .2rem;
    }

    &-inner {
      position: relative;
    }

    &.scroll {
      z-index:  5;
      position: fixed;
      top: 0.1rem;
      margin-top: -.1rem;

      width: inherit;
      // background: white;
    }
    @include xs {
      width: initial;
      display: block;
      margin-bottom: 0;
      padding: 0 .35em;
      // padding-right: .5em;
      // margin-right: 1em;
      color: #777;
    }

    &__sort-toggle {
      z-index: 4;
      position: absolute;
      top:      .5em;
      right:  -1.2em;
      transform: rotate(90deg);
      transform-origin: center;
      width:  2rem;
      height: 2rem;
      
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      padding: 0;
      width:  1em;
      height: 1em;

      border:      .5em solid transparent;
      border-left: .5em solid currentColor;

      font-size: .8em;

      cursor: pointer;

      @include xs() {
        right: -0.8em;
      }

      &.active {
        color: var(--contrast-color);
      }
      
      &.reversed {
        transform: rotate(270deg);
        top: -.1em;
      }

      &-wrap {
        
      }
    }
  }

  &-val {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 3em;
    padding: 0.35em .5em;
    background-color: #f4f7fb;

    text-align: center;
    white-space: nowrap;

    @include sm {
      padding: 0.75em .35em;
      min-height: 4em;
    }
    
    @include xs {
      padding: 0.35em .35em;
      justify-content: flex-start;
    }

    &--wrap {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__input {
    // width: 7em;
  }

  &__select {
    width: 100%;
  }
  
  &__input {
    text-align: center;
  }
}