.dashboard {
  margin-top: 3em;

  &-row {
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;

    &:first-child {

      .dashboard-key {
        display: block;
      }
      
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-col {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.125rem;
    line-height: 1.2;

    &--wide {
      flex-basis: 150%;
    }
  }

  &-key {
    display: none;
    margin-bottom: .5em;
  }

  &-val {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 3.5rem;
    padding: .4rem;
    background-color: #f4f7fb;

    text-align: center;
  }

  &__input {
    width: 100%;
  }

  &__select {
    width: 5.5rem !important;

    &--wide {
      width: 100% !important;
    }
  }
  
  &__input {
    text-align: center;
  }
}